{% extends "layout.html" %}
{% block content %}
    <h1>Request Permission</h1>
    <form method="POST">
        <div class="input-field">
            Github handle: <input type="text" name="github_handle" required><br>
            Requested Role:
            <select name="requested_role" required>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        <br>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Request Permission" class="button input-button">
    </form>
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
{% endblock %}
